In [ ]:
Here is a list of popular languages used in Data Science:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

In [ ]:
Here is a list of commonly used libraries in Data Science:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. PyTorch

In [ ]:
Here is a table of commonly used Data Science Tools:

 Tool             Category              

Jupyter Notebook  IDE / Environment    
RStudio          IDE / Environment    
 Apache Spark     Big Data Processing 
 TensorFlow       Machine Learning     
 PyTorch          Deep Learning        
 Tableau          Data Visualization

In [3]:
# Multiply two numbers
product = 5 * 4
print("Multiplication Result:", product)

# Add two numbers
sum_result = 10 + 7
print("Addition Result:", sum_result)

Multiplication Result: 20
Addition Result: 17

In [ ]:
This section shows examples of evaluating arithme

In [4]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours")

150 minutes is equal to 2.5 hours

In [5]:
150 minutes is equal to 2.5 hours

SyntaxError: invalid syntax (246691179.py, line 1)

In [ ]:
The objectives of this Python exercise are as follows:

- Learn basic Python syntax
- Practice arithmetic operations
- Understand variable assignments
- Implement simple functions

In [6]:
**Author:** Jayesh Surwade

SyntaxError: invalid syntax (144949307.py, line 1)